*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Quicksand, sans-serif;
}

.smetaone-section {
  display: flex;
  padding: 3rem 3rem 0 0;
  background-color: #ec3f35;
}

.smetaone-info {
  display: flex;
  align-self: flex-start;
  background-color: white;
  padding: 2rem 2rem 2rem 0rem;
  margin: 3rem 0rem 3rem 0rem;
  border-radius: 0 1.5rem 1.5rem 0;
}

.smetaone-char {
  align-self: flex-end;
  justify-content: end;
  justify-items: end;
  justify-self: end;
  margin-inline-end: 6rem;
  line-height: 0;
}

.smetaone-desc h3 {
  font-size: 2rem;
  font-family: Poppins, Quicksand, sans-serif;
  margin: 0;
  color: #ec3f35;
}

.smetaone-desc p {
  font-size: 1.2rem;
  font-family: Quicksand, Poppins, sans-serif;
  line-height: 1.5rem;
}

.goals-section {
  
}

.vision-mission {
  display: flex;
}

.title-goals {
  text-align: center;
  font-size: 1.8rem;
  font-family: Poppins, Quicksand, sans-serif;
  color: #ec3f35;
}

.desc {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: flex-end;
  align-items: end;
  padding: 3rem 0 3rem 3rem;
  gap: 2rem;
}

.vision {
  right: 0;
  width: 100%;
  background-color: #ec3f35;
  padding: 1.5rem;
  border-radius: 1rem 0 0 1rem;
  color: white;
  text-align: left;
}

.vision h3 {
  font-family: Poppins, Quicksand, sans-serif;
  font-size: 1.8rem;
  margin-block-start: 0;
  margin-block-end: 1rem;
}

.vision p {
  line-height: 1.5rem;
  font-family: Quicksand, Poppins, sans-serif;
  font-size: 1.2rem;
  margin: 0;
}

.mission {
  right: 0;
  width: 100%;
  background-color: #ec3f35;
  padding: 1.5rem;
  border-radius: 1rem 0 0 1rem;
  color: white;
  text-align: left;
}

.mission h3 {
  font-family: Poppins, Quicksand, sans-serif;
  font-size: 1.8rem;
  margin-block-start: 0;
  margin-block-end: 1rem;
}

.mission ul {
  margin: 0;
}

.mission ul li {
  font-family: Quicksand, Poppins, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
