*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header .header-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0.5rem 2rem;
  border-bottom: 2px solid black;
}

.navbar ul {
  display: flex;
  padding: 0;
  align-items: center;
  list-style: none;
}

.navbar ul li {
  margin-inline: 0.8rem;
}

.navbar a {
  text-decoration: none;
  padding: 0.5rem 1.8rem;
  color: black;
  font-size: 1.2rem;
  transition: ease-in-out 0.5s;
  border-radius: 1.5rem;
}

.navbar a:hover {
  background-color: #df1a10;
  border-radius: 1.5rem;
  color: white;
}

.btn-register button {
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 1rem;
  background-color: #df1a10;
  color: white;
  font-size: 1rem;
  font-weight: bolder;
  transition: ease-in-out 0.5s;
}

.btn-register button:hover {
  box-shadow: 0 0 10px #ec3f35;
}

.navbar-item {
  cursor: pointer;
}

.navbar .navbar-down {
  position: absolute;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid black;
  align-items: start;
  cursor: pointer;
  display: none;
}

.navbar-down.navbar-expand {
  display: block;
  margin: 0;
}

.navbar .navbar-expand li {
  margin: 0;
  text-align: start;
}
